<!DOCTYPE html>
<html xmlns="http:www.w3.org/1999/xhtml"
       xmlns:th="www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Novo Pedido</title>
</head>
<body>
<div align="center">
    
    </br>
    
    <form action="#" th:action="@{/saveC}" th:object="${contrato}" method="post">
      
    <table border="1" cellpadding="10">
     <tr>
         <td>Tipo Contrato</td>
         <td><input type="text" th:field="*{tipoContrato}"></td>
     </tr>
     
       <tr>
         <td>Id Pedido</td>
         <td><input type="text" th:field="*{idPedido}"></td>
     </tr>
     
       <tr>
         <td>Id Credito</td>
         <td><input type="text" th:field="*{idCredito}"></td>
     </tr>
     
      
     
      <tr>
         
         <td colspan="2"><button type="submit" >Salvar</button></td>
     </tr>
     
   
    </table>
    
    </form>
    
    


</div>

</body>
</html>